.col-md-12
  %h1 Questions
  %table.table.table-bordered
    %thead
      %tr
        %th Body
        %th.thin-column Actions
    %tbody
      - @questions.each do |question|
        %tr
          %td= link_to question.body, question
          %td
            .btn-group
              %button.btn.btn-default.dropdown-toggle{'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown', type: 'button'}
                Action
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Edit', edit_question_path(question)
                %li
                  = link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Question', new_question_path